body{
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
  padding:40px;
}
button{
  background:orange;
  padding:12px 20px;
  border:none;
  border-radius:8px;
}.profile{
  width:140px;
  height:140px;
  border-radius:50%;
  border:3px solid orange;
  animation: float 3s ease-in-out infinite;
}

@keyframes float{
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(-10px);}
}